<%= form_with scope: :todo, url: todos_path,local: true do |form| %>
  <% if @todo.errors.any? %>
    <h2><% pluralize(@todo.errors.count, "error") %></h2> prohibited this article from being saved:
    <ul>
      <% @todo.errors.full_message.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>
  <p>
    <%= form.label :title %> <br/>
    <%= form.text_field :title %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>