<%= link_to 'New To-Do', new_todo_path %>
<hr/>
<table>
  <tr>
    <td>Title</td>
  </tr>
  <% @todo.each do |todo| %>
    <tr>
      <td><%= todo.title %></td>
      <td><%= link_to 'Show', todo_path(todo) %></td>
      <td><%= link_to 'Edit', edit_todo_path(todo) %></td>
      <td><%= link_to 'Delete', todo_path(todo),
              method: :delete,
              data: { confirm: 'Are you sure' } %></td>
    </tr>
  <% end %>
</table>